body{
    overflow-x: hidden;
    background-color: #4f4545;
}
header{
    position: fixed;
    top: 0;
    left: 5%;
    padding:5px 0px;
    width: 90%;
    background-color: #dfd4d4;
    opacity: 0.9;
    transition: all 0.5s ease;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 2px 15px rgba(249, 239, 239, 0.5);
    z-index: 1;
}
header:hover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
    cursor: auto;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(255, 0, 162);
    margin: 10px 0;
    letter-spacing: 4px;
    font-family: 'Tilt Warp', cursive;

}
header ul{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 7px 0px;
    margin: auto;
}
header ul li{
    list-style: none;

}
header ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight:700;
    font-family: 'Aboreto', cursive;
    color: rgb(77, 74, 73);

}
.nav{
    display: flex;
}
.active{
    color: rgb(255, 0, 162);
    font-weight:800;

}
header ul li::before{
    content: '|';
}
header ul::after{
    content: '|';
}
.bar{
    display: none;
}
#menu-toggler{
    display: none;
}
/* oooooooooooooooo */
@media (min-width: 992px){
    header{
        width: 80%;
        position: fixed;
        top: 0;
        left: 10%;
    }
    
}
@media (max-width: 992px){
    header .logo{
        font-size: 20px;
    }
    header ul li a{
    font-size: 16px;
    }
    header{
        opacity: 0.9;
    }
}
@media (max-width: 770px){
    header .logo{
        font-size: 20px;
    }
    .bar{
        display:block;
        position: relative;
        cursor: pointer;
    }
    .bar img{
        width: 45px;
        height: 45px;
        opacity: 0.7;
        position: absolute;
        top: 10px;
        right: 25px;
    }
    .navbar{
        display:none;
    }
    #menu-toggler:checked ~ .navbar{
        width: 101%;
        height: 100vh;
        background-color: #141212;
        display: block;
        transform: translateX(-2%);
    }
    header{
        opacity: 0.9;
        width: 100%;
        left: 0%;
        border-radius: 0px;
    }
    .nav{
        display: block;
        position: absolute;
        bottom: 20%;
        left: 5%;
    }
    header ul li a{
        font-size: 25px;
        letter-spacing: 3px;
        font-weight:900;
        line-height: 40px;
        font-family: 'Aboreto', cursive;
        color: rgb(149, 145, 143);
    }
    header hr{
        display: none;
    }
}
/* Galaxy Flod/S8 */
@media (max-width: 741px){
    header .logo{
        font-size: 20px;
    }
    .nav{
        width:100%;
        display: block;
        position: absolute;
        bottom: 32%;
        left: 2%;
    }

    header ul li a{
        font-size: 15px;
        line-height: 30px;
    }
}

@media (max-width: 600px){
    .bar img{
        width: 40px;
        height: 40px;
        opacity: 0.7;
        position: absolute;
        top: 10px;
        right: 25px;
    }
    .nav{
        width:100%;
        display: block;
        position: absolute;
        bottom: 20%;
        left: 2%;
    }
    header ul li a{
        font-size: 23px;
    }
}
@media (max-width: 400px){
    header ul li a{
        font-size: 20px;
    }
}
/* --------------------------------------- 以上導覽列 ------------------------------------------- */

.work{
    width: 90%;
    margin: auto;
    margin-top: 15%;
}
.effect{
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;

}
.effect::after{
    content: '';
    width: 300px;
    height: 300px;
    background-color: rgb(255, 0, 162);
    opacity: 0.8;

    position: absolute;
    bottom: -320px;
    left: 38%;
    transform: scale(2);
    border-radius: 50%;
    transition: all 1.3s ease-in-out;
    z-index: -1;
}


.effect:hover{
    background-color:rgba(255, 255, 255, 0);
    transition: all 0.3s ease-in-out;
}
.effect:hover::after{
    bottom: 40%;
    transform: scale(13);
    transition: all 1.3s ease-in-out;
    
}


h4{
    line-height: 30px;
    font-family: '微軟正黑體';
}
h5{
    line-height: 35px;
    font-family: '微軟正黑體';
}
.work span{
    font-size: 20px;
    line-height: 35px;
    font-family: 'Tilt Warp', cursive;
    font-weight: 400;
    letter-spacing: 3px;

}
.Txt{
    padding-left: 10px;
    width: 62%;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 15px;
    color: rgb(255, 0, 162);
    cursor: default;
}



/* exhibition */
.exhibition{
    margin-bottom: 60px;
    background-color: #393030;
    box-shadow: 0px 2px 20px rgba(33, 32, 32, 0.8);
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.exhibition1{
    width: 100%;
    margin-bottom: 30px;
}
.exhibition1 img{
    width: 100%;
}
.exhibition2{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.exhibition2 img{
    width: 33.3%;
}
/* tableplay */
.tableplay{
    margin-bottom: 60px;
    background-color: #393030;
    box-shadow: 0px 2px 20px rgba(33, 32, 32, 0.8);
    padding: 20px;
}
.tableplay1{
    width: 100%;
    margin-bottom: 20px;
}
.tableplay img{
    width: 100%;
}
.tableplay2{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
/* ineed */
.ineed{
    margin-bottom: 60px;
    background-color: #393030;
    box-shadow: 0px 2px 20px rgba(33, 32, 32, 0.8);
    padding: 20px;
}
.ineed1{
    width: 100%;
    margin-bottom: 40px;
}
.ineed1 img{
    width: 100%;
}

.ineed2{
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}
.ineed2 img{
    width: 33.3%;
}
.ineed3{
    width: 100%;
    margin-bottom: 40px;
}
.ineed3 img{
    width: 100%;
}


/* -1 */
.onetime{
    margin-bottom: 60px;
    background-color: #393030;
    box-shadow: 0px 2px 20px rgba(33, 32, 32, 0.8);
    padding: 20px;
}
.onetime1{
    width: 100%;
    margin-bottom: 30px;
    cursor: none;
}
.onetime1 img{
    width: 100%;
    margin-bottom: 30px;
    

}

@media (min-width:992px){
    .work{
        width: 80%;
    }
    .effect{
        padding: 40px;
    }
}
@media (max-width:600px){
    .work{
        margin-top: 20%;
    }
    .Txt{
        width: 90%;
        padding-left: 0px;
        margin: auto;
    }
}
/* ------------------------------------backhome------------------------------------- */
.backBtn{
    display: flex;
}
.backBtn a{
    width: 200px;
    height: 45px;
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 30px;
    border: #fff solid 1px;
    display: block;
    margin: 50px auto;
    text-decoration: none;
    overflow: hidden;
    position: relative;

}
.backBtn1 p{
    font-size: 21px;
    color: aliceblue;
    transform: translate(15%,-43%);
}
.top p{
    font-size: 21px;
    color: aliceblue;
    transform: translate(35%,-43%);
}

.backBtn a::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    top: 195px;
    left: 100px;
    border-radius: 95px;
    background-color: #6d6a6a;
    transition: all 1s ease;
    animation: wave 4.5s infinite linear;
}
.backBtn a p:hover{
    color: rgb(35, 35, 35);
    font-weight: 600;
}
@keyframes wave{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

.backBtn a:hover::before{
    top: 125px;
    transition: 0.5s ease-in-out;
    background-color: #cfcaca;
}


/* ---------------------------------------footer--------------------------------------- */
footer{
    background-color: #dfd4d4;
    width: 80%;
    padding:20px 0px;
    margin-left: 10%;
    margin-top: 40px;
    border-radius: 20px 20px 0 0;
    transition: all 0.2s ease-in-out;

}
.footer_content{
    width: 230px;
    margin: auto;
    margin-top: 20px;

}
.icon{
    width: 230px;
    transform: scale(1.3);
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}
.footer_txt{
    width: 100%;
    margin: auto;
    transform: scale(1.1);
}
.footer_txt p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.footer_txt span{
    font-size: 16px;
    margin-top: 10px;
}
.fa-2xl{
    color: #555658;
    transition: all 0.2s ease;

}

.fa-2xl:hover{
    color:rgb(255, 0, 162);
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
}

@media (min-width:770px){
    footer{
        width: 90%;
        margin-left: 5%;
        padding:20px 0px;
    }

}
@media (min-width:992px){
    footer{
        width: 80%;
        margin-left: 10%;
        padding:20px 0px;
    }
}
@media (max-width: 770px){
    footer{
        padding:20px 0px;
        width: 100%;
        margin-left: 0;
        border-radius: 0;
}
}