body{
    overflow-x: hidden;
    background-color: #4f4545;
}
header{
    position: fixed;
    top: 0;
    left: 10%;
    padding: 5px;
    width: 80%;
    background-color: #dfd4d4;
    opacity: 0.7;
    transition: all 0.5s ease;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 2px 15px rgba(249, 239, 239, 0.5);
}
header:hover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
    cursor: auto;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(255, 0, 162);
    margin: 10px 0;
    letter-spacing: 4px;
    font-family: 'Tilt Warp', cursive;

}
header ul{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 7px 0px;
    margin: auto;
}
header ul li{
    list-style: none;

}
header ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight:700;
    font-family: 'Aboreto', cursive;
    color: rgb(77, 74, 73);

}
.nav{
    display: flex;
}
.active{
    color: rgb(255, 0, 162);
    font-weight:800;

}
header ul li::before{
    content: '|';
}
header ul::after{
    content: '|';
}
.bar{
    display: none;
}
#menu-toggler{
    display: none;
}
/* oooooooooooooooo */
@media (max-width: 992px){
    header .logo{
        font-size: 20px;
    }
    header ul li a{
    font-size: 16px;
    }
    header{
        opacity: 0.9;
    }
}
@media (max-width: 770px){
    header .logo{
        font-size: 20px;
    }
    .bar{
        display:block;
        position: relative;
        cursor: pointer;
    }
    .bar img{
        width: 45px;
        height: 45px;
        opacity: 0.7;
        position: absolute;
        top: 10px;
        right: 25px;
    }
    .navbar{
        display:none;
    }
    #menu-toggler:checked ~ .navbar{
        width: 101%;
        height: 100vh;
        background-color: #141212;
        display: block;
        transform: translateX(-2%);
    }
    header{
        opacity: 0.8;
        width: 100%;
        left: 0%;
        border-radius: 0px;
    }
    .nav{
        display: block;
        position: absolute;
        bottom: 20%;
        left: 5%;
    }
    header ul li a{
        font-size: 25px;
        letter-spacing: 3px;
        font-weight:900;
        line-height: 40px;
        font-family: 'Aboreto', cursive;
        color: rgb(149, 145, 143);
    }
    header hr{
        display: none;
    }
}
/* Galaxy Flod/S8 */
@media (max-width: 741px){
    header .logo{
        font-size: 20px;
    }
    .nav{
        width:100%;
        display: block;
        position: absolute;
        bottom: 32%;
        left: 2%;
    }

    header ul li a{
        font-size: 15px;
        line-height: 30px;
    }
}

@media (max-width: 600px){
    .bar img{
        width: 40px;
        height: 40px;
        opacity: 0.7;
        position: absolute;
        top: 10px;
        right: 25px;
    }
    .nav{
        width:100%;
        display: block;
        position: absolute;
        bottom: 20%;
        left: 2%;
    }
    header ul li a{
        font-size: 23px;
    }
}
@media (max-width: 400px){
    header ul li a{
        font-size: 20px;
    }
}
/* --------------------------------------- 以上導覽列 ------------------------------------------- */