/*-- 作品 - 滾動視差 --*/
*{
    scroll-behavior: smooth;
}

body{
    overflow-x: auto;
}


/* ----------main-top---------- */
.main-top{
    position: relative;
    height: 120vh;
    width: 100%;
    background: linear-gradient(#9d235a,#e9d8e5);
    overflow-x: hidden;
}

.top img{
    position: absolute;
    /* width:100%; */
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.myself{
    display: flex;
    height: 100vh;
    width:  100%;
    background: linear-gradient(#681e4d,#0e070c);
}
.top img#mainCloud{
    width:100%;

}
.top img#mainFont-Right{
    width:100%;
    transform: translateX(550px);
}
.top img#mainFont-Left {
    width:100%;
    transform: translateX(-550px);
}
.top img#mainBack{
    width:100%;
    transform: translateY(-20px);
}

@media (max-width: 992px){
    .top img#mainFont-Left {
    width:200%;
    transform: translateX(-950px);
    }
    .top img#mainFont-Right{
        width:200%;
        transform: translateX(550px);
    }
    .top img#mainBack{
        width:100%;
        transform: translateY(0px);
    }
    .top img#mainCloud{
        width:200%;
    
    }
}






/* ----------介紹區塊---------- */
.work{
    overflow-x: hidden;
}
.work_bg{
    width: 100%;
    height: 70vh;
    display: grid;
    place-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.title{
    color: aliceblue;
    font-size: 7rem;
    mix-blend-mode: difference;
}
.web{
    background-image: url(./img/Top-img/網頁-封面.png);
    
}
.business{
    background-image: url(./img/Top-img/商業設計-封面.png);
    
}
.graphic{
    background-image: url(./img/Top-img/平面設計-封面1.png);
}
.other{
    background-image: url(./img/Top-img/其他-封面.png);
}


.introduce{
    background: linear-gradient(#250c1d,#0e070c);
    height: 30vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.txt{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 60%;
    margin: auto;
    letter-spacing: 2px;
    overflow-y: hidden;

}
.txt h3{
    width: 15%;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;

    
}
.txt p{
    width: 80%;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    align-items: start;
    margin-top: 0px;
}
.web-intro{
    padding-top: 20px;
}
.introduce a{
    width: 200px;
    height: 45px;
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 30px;
    border: #fff solid 1px;
    display: block;
    margin: auto;
    margin-top: -20px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}
.introduce a p{
    font-size: 21px;
    color: aliceblue;
    transform: translate(20%,-43%);
    
}
.introduce a::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    top: 195px;
    left: 100px;
    border-radius: 95px;
    background-color: #6d6a6a;
    transition: all 1s ease;
    animation: wave 4.5s infinite linear;
}
.introduce a p:hover{
    color: rgb(35, 35, 35);
    font-weight: 600;

}
@keyframes wave{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.introduce a:hover::before{
    top: 125px;
    transition: 0.5s ease-in-out;
    background-color: #cfcaca;
}
.introduce a:active::before{
    background-color: #9c9a9c;
    transition: all 0.1s ease;
}

/* oooooooooooooooooooo */
@media (max-width: 1200px){
    .title{
        font-size: 95px;
        letter-spacing: 2px;
    }
    .txt{
        width: 80%;
        flex-direction: column;
    }
    .txt h3{
        width: 100%;
        font-size: 22px;
    }
    .txt p{
        width: 100%;
        font-size: 17px;
}
}

@media (max-width: 992px){
    .title{
        font-size: 80px;
    }

    .txt h3{
        font-size: 20px;
    }
    .txt p{
        width: 100%;
        font-size: 15px;
}
}

@media (max-width: 576px){
    .title{
        font-size: 85px;
        margin-left: 10%;
    }
    .work_bg{
        background-size:576px 350px; 
    }
    .txt h3{
        font-size: 18px;
    }
    .txt p{
        font-size: 14px;
    }
}
@media (max-width: 450px){
    .work_bg{
        height: 60vh;}
    .introduce{
        height: 40vh;
    }
    .title{
        font-size: 60px;
        margin-left: 10%;
    }
    .work_bg{
        background-size:550px 330px; 
    }
    .txt h3{
        margin-bottom: 5px;
        font-weight: 600;
    }
    .txt p{
        line-height: 30px;
        font-size: 13px;
    }
    .introduce a{
        width: 150px;
        height: 40px;
    }
    .introduce a p{
        font-size: 17px;
        transform: translate(15%,-35%);
    }

}

