
/* --------------------------------------- 作品 ------------------------------------------- */

.work{
    width: 90%;
    margin: auto;
    margin-top: 15%;
}
.effect{
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;

}
.effect::after{
    content: '';
    width: 300px;
    height: 300px;
    background-color: rgb(255, 0, 162);
    opacity: 0.8;

    position: absolute;
    bottom: -320px;
    left: 38%;
    transform: scale(2);
    border-radius: 50%;
    transition: all 1.3s ease-in-out;
    z-index: -1;
}



h4{
    line-height: 30px;
    font-weight: 600;
    font-family: '微軟正黑體';
}
.work span{
    font-size: 20px;
    line-height: 35px;
    font-family: 'Tilt Warp', cursive;
    font-weight: 400;
    letter-spacing: 3px;

}
.Txt{
    padding-left: 10px;
    width: 47%;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 15px;
    color: rgb(255, 0, 162);
    cursor: default;
}



/* exhibition */
.exhibition{
    margin-bottom: 60px;
    background-color: #393030;
    box-shadow: 0px 2px 20px rgba(33, 32, 32, 0.8);
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.exhibition1{
    width: 100%;
    margin-bottom: 30px;
}
.exhibition1 img{
    width: 100%;
}
.exhibition2{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.exhibition2 img{
    width: 33.3%;
}
/* tableplay */
.tableplay{
    margin-bottom: 60px;
    background-color: #393030;
    box-shadow: 0px 2px 20px rgba(33, 32, 32, 0.8);
    padding: 20px;
}
.tableplay1{
    width: 100%;
    margin-bottom: 20px;
}
.tableplay img{
    width: 100%;
}
.tableplay2{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
/* ineed */
.ineed{
    margin-bottom: 60px;
    background-color: #393030;
    box-shadow: 0px 2px 20px rgba(33, 32, 32, 0.8);
    padding: 20px;
}
.ineed1{
    width: 100%;
    margin-bottom: 40px;
}
.ineed1 img{
    width: 100%;
}

.ineed2{
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}
.ineed2 img{
    width: 33.3%;
}
.ineed3{
    width: 100%;
    margin-bottom: 40px;
}
.ineed3 img{
    width: 100%;
}


/* -1 */
.onetime{
    margin-bottom: 60px;
    background-color: #393030;
    box-shadow: 0px 2px 20px rgba(33, 32, 32, 0.8);
    padding: 20px;
}
.onetime1{
    width: 100%;
    margin-bottom: 30px;
    cursor: none;
}
.onetime1 img{
    width: 100%;
    margin-bottom: 30px;
    

}

@media (min-width:992px){
    .work{
        width: 80%;
}
}
@media (min-width:1000px){
    .work{
        width: 80%;
    }
    .effect{
        padding: 30px;
    }
    .effect:hover{
        background-color:rgba(255, 255, 255, 0);
        transition: all 0.3s ease-in-out;
    }
    .effect:hover::after{
        bottom: 40%;
        transform: scale(18);
        transition: all 1.3s ease-in-out;
        
    }
}
@media (max-width:992px){
    .Txt{
        width: 60%;
    }

    .effect:hover{
        pointer-events: none;
    }
    .effect:hover::after{
        pointer-events: none;
    }

}
@media (max-width:600px){
    .work{
        margin-top: 25%;
    }
    .Txt{
        width: 90%;
        padding-left: 0px;
        margin: auto;
    }
    .work span{
        font-size: 17px;
        letter-spacing: 2px;
    
    }
}
