/*-- 首頁 --*/
*{
    scroll-behavior: smooth;
}
body{
    overflow-x: auto;
}

/* ----------main-top---------- */
.main-top{
    position: relative;
    height: 120vh;
    width: 100%;
    background: linear-gradient(#9d235a,#e9d8e5);
    overflow: hidden;
}
.logo{

    font-size: 100px;
    font-weight: 900;
    text-decoration: none;
    color: rgb(250, 217, 217);
    letter-spacing: 10px;
    font-family: 'Tilt Warp', cursive;
    position: absolute;
    top: 6%;
    left: 10%;
}
    
.top{
    width:100%;
    height: 100vh;

}
.topr{
    width: 2000px;
}
.topl{
    width: 1000px;
    background-color: #fff;

}
.top img{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;

}

.top img#mainCloud{
    width:100%;
    object-fit: cover;

}
.top img#mainFont-Right{
    width:120%;
    transform: translate(500px, 0px);

}
.top img#mainFont-Left {
    width:100%;
    transform: translate(-800px, 20px);
}
.top img#mainBack{
    width:100%;
    overflow-x: hidden;
    object-fit: cover;

}
 
@media (max-width: 1400px){
    .top img#mainFont-Right{
        width:150%;
        transform: translate(90px, 0px);
    
    }
    .top img#mainFont-Left {
        width:150%;
        transform: translate(-900px, 50px);
    }
}
@media (max-width: 1200px){
    .top img#mainFont-Left {
        width:200%;
        transform: translate(-1200px, 100px);
        }
    .top img#mainFont-Right{
        width:200%;
        transform: translate(70px, 100px);
    }
}
@media (max-width: 992px){
    .top img#mainFont-Left {
    width:200%;
    transform: translate(-1050px, 100px);
    }
    .top img#mainFont-Right{
        width:200%;
        transform: translate(130px, 100px);
    }
    /* .top img#mainBack{
        width:100%;
    } */
    .top img#mainCloud{
        width:200%;
    
    }
}
@media (max-width: 768px){
    .top img#mainFont-Left {
    width:200%;
    transform: translate(-800px, 100px);
    }
    .top img#mainFont-Right{
        width:230%;
        transform: translate(-180px, 100px);
    }
    /* .top img#mainBack{
        width:100%;
    } */
    .top img#mainCloud{
        width:200%;
    
    }
}
@media (max-width: 600px){
    .logo{
        font-size: 70px;
    }
    .top img#mainFont-Left {
        width:300%;
        transform: translate(-1050px, 150px);
        }
    .top img#mainFont-Right{
        width:300%;
        transform: translate(-100px, 90px);
    }
}
@media (max-width: 500px){
    .logo{
        font-size: 62px;
        left: 7%;
        letter-spacing: 8px;

    }
    .top img#mainFont-Left {
        width:400%;
        transform: translate(-950px, 150px);
        }
    .top img#mainFont-Right{
        width:400%;
        transform: translate(-150px, 60px);
    }


}
@media (max-width:400px){

    .top img#mainFont-Left {
        width:300%;
        transform: translate(-680px, 80px);
        }
    .top img#mainFont-Right{
        width:400%;
        transform: translate(-290px, 100px);
    }


}





/* ----------------------------自介------------------------------ */
.myself{
    display: flex;
    height:105%;
    width:  100%;
    background: linear-gradient(#681e4d,#0e070c);
}
.myself .wrap{
    width: 100%;
    padding: 3%;
    z-index: 5;
}
.myself-top{
    display: flex;
    margin-top: -12%;
    margin-bottom: 100px;
    /* background-color: #8d8a8a; */

}
.myself-top h4{
    font-weight: 400;
}

.Yuchi{
    width: 35%;
    /* background-color: #565555; */
    margin: auto;
    margin-left: -10px;
}
.Yuchi .pic{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.Yuchi .pic img{
    border-radius: 50%;
    box-shadow: 7px 7px 4px rgba(20, 20, 20, 0.4);
}

.Yuchi .txt{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.Yuchi .txt h2{
    margin: auto;
    padding-left: 4px;
    letter-spacing: 6px;
    /* background-color: #565555; */

}
.talk{
    width: 60%;
    /* background-color: #565555; */
    margin: auto;
    margin-bottom: 0px;
    margin-left: -15%;
    letter-spacing: 4px;

}

.talk-1{
    width: fit-content;
    background-color: rgba(225, 225, 225, 0.4);
    border-radius: 0px 15px 15px 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.talk-2{
    width: fit-content;
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 0px 15px 15px 15px;
    padding: 15px;
    margin-bottom: 15px;
}
.talk-3{
    background-color: rgba(225, 225, 225, 0.4);
    border-radius: 0px 20px 20px 20px;
    padding: 15px;

}
.talk h4{
    line-height: 24px;
    width: 100%;
    margin: auto;
    color: #ffffff;
}
.wrap2{
    width: 100%;
    margin-top: 50px;
}


.aboutme{
    width: 80%;
    /* background-color: #aaa9a9; */
    margin: auto;
    display: flex;
}
.aboutme .txt1{
    width: 40%;
    margin-right:15px;
}
.aboutme .txt2{
    width: 30%;
    margin-right:5px;
}
.aboutme .txt3{
    width: 30%;
}
.line2{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    opacity: 0.2;
    /* transition: all 0.5s ease; */
}

.skill{
    width: 80%;
    /* background-color: #6b6a6a; */
    margin: 30px auto;
    display: flex;
}
.skill br{
    display: none;
}

.software{
    width: 60%;
    /* background-color: #6b6a6a; */
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
}
.software img{
    width: 50%;
}

.myself h2{
    color: #fff;
    letter-spacing: 10px;
    
}
.txt-con{
    width: 100%;
    /* background-color: #684c4c; */
}
.myself h3{
    color: #fff;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
}
.myself p{
    /* margin-left: 20px; */
    letter-spacing: 3px;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}
/* ooooooooooooooooo */
@media (min-width: 700px){
    .talk{
        margin-top: 40%;
    }
    .myself-top{
        margin-top: -40%;
    }
        .myself-top img{
        width: 70%;
    }
}
@media (min-width: 800px){
    .myself{
        height:250%;
        }
}

@media (min-width: 900px){
    .talk{
        margin-top: 30%;
        
    }

    .myself-top{
        margin-top: -30%;
    }
    .myself{
        height:230%;
        }
}

@media (min-width: 1200px){
    .talk{
        margin-top: 8%;
    }

    .myself-top{
        margin-top: -15%;
}
    .myself-top img{
        width: 50%;
    }
    .myself{
        height:150%;
        }
}
@media (min-width: 1400px){
    .software{
        margin-top: 40px;
    }

}
/* ooooooooooooooooooooooooooooooooooooo */
 @media (max-width: 1100px){
     .software{
        width: 90%;
    }
    .aboutme{
        width: 90%;
    }
    .skill{
        width: 90%;
    }


}
@media (max-width: 850px){
    .myself{
        height:280%;
        }

    .myself-top{
        margin-bottom: 8%;
    }
    .myself h3{
        font-size: 17px;
        letter-spacing: 3px;
    }
    .myself p{
        letter-spacing: 3px;
        font-size: 14px;
        line-height: 22px;
    }
    .skill br{
        display: block;
    }
    .skill .txt2{
        margin-left: 16px;
    }
    .aboutme .txt2{
        margin-left: 5px;
    }

}
 @media (max-width: 700px){

     .software{
         width: 80%;
    }
    .skill .txt1{
        margin-right: 20px;
    }
    .aboutme .txt1{
        width: 34%;
        margin-right:5px;
        /* background-color: #8b0e0e; */
    }
    .aboutme .txt2{
        width: 32%;
        margin-right:5px;
    }
    .aboutme .txt3{
        width: 34%;
    }
    .myself{
        height:260%;
    }
    .myself-top{
        display: block;
        width: 100%;
        margin-top:-10% ;
    }
    .Yuchi{
    width: 100%;
    margin: auto;
    margin-left: 0px;
    /* background-color: #565555; */
    }

    .myself-top img{
        width: 40%;
    }
    .talkh4{
        display: none;
    }
    .talk{
        width: 75%;
        /* background-color: #565555; */
        margin: auto;
        margin-top: 10%;
        letter-spacing: 4px;
    }
    .talk-1{
        border-radius: 0px 18px 18px 18px;
        padding:15px;
        margin-bottom: 20px;
    }
    .talk-2{
        border-radius: 0px 18px 18px 18px;
        padding: 15px;
        margin-bottom: 20px;
    }
    .talk-3{
        border-radius: 0px 18px 18px 18px;
        padding: 15px;
    }
}
@media (max-width: 576px){
    .wrap2{
        margin-top: 100px;
    }
    .myself-top img{
        width: 55%;
    }
    .myself{
    height: 300%;
    }
    .aboutme{
        display: block;
    }
    .line2{
        display: none;
    }
    .skill .txt-con{
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    .aboutme .txt1{
        width:80%;
        margin:auto;
        margin-bottom: 48px;
    }
    .aboutme .txt2{
        width:80%;
        margin:auto;
        margin-bottom: 48px;
    }
    .aboutme .txt3{
        width:80%;
        margin:auto;
        margin-bottom: 48px;
    }
    .skill{
        display: block;
    }
    .skill .txt1{
        margin:auto;
    }
    
    .software img{
        width: 100%;
    }
    .software{
        margin-top: 50px;
        width: 80%;
    }


}
@media (max-width: 450px){
    .myself h3{
        font-size: 18px;
    }
    .myself p{
        font-size: 12px;

    }
}
@media (max-width: 350px){
    .txt-con{
        width: 95%;
        margin: auto;
        margin-top: 50px;
    }
     /* .myself .wrap{
         background-color: #494949;
     } */
}




/* ----------介紹區塊---------- */
.work{
    overflow-x: hidden;
}
.work_bg{
    width: 100%;
    height: 70vh;
    display: grid;
    place-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.title{
    color: aliceblue;
    font-size: 7rem;
    mix-blend-mode: difference;
    font-family: 'Tilt Warp', cursive;
    letter-spacing: 5px;

}
.web{
    background-image: url(./img/Top-img/網頁-封面.png);
    
}
.business{
    background-image: url(./img/Top-img/商業設計-封面.png);
    
}
.graphic{
    background-image: url(./img/Top-img/平面設計-封面1.png);
}
.other{
    background-image: url(./img/Top-img/其他-封面.png);
}


.introduce{
    background: linear-gradient(#250c1d,#0e070c);
    height: 30vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.work .txt{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 60%;
    margin: auto;
    letter-spacing: 2px;
    overflow-y: hidden;

}
.work .txt h3{
    width: 15%;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
}
.work .txt p{
    width: 80%;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    align-items: start;
    margin-top: 0px;
}
.web-intro{
    padding-top: 20px;
}
.introduce a{
    width: 200px;
    height: 45px;
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 30px;
    border: #fff solid 1px;
    display: block;
    margin: auto;
    margin-top: -20px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    color: aliceblue;

}
.introduce a p{
    font-size: 21px;
    text-align: center;
    line-height: 0;
    transform: translate(0%,0%);
    letter-spacing: 1px;

}
.introduce a::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    top: 195px;
    left: 100px;
    border-radius: 95px;
    background-color: #6d6a6a;
    transition: all 1s ease;
    animation: wave 4.5s infinite linear;
}
.introduce a:hover{
    color: rgb(35, 35, 35);
    font-weight: 600;

}
/* --------------------------- */
.introduce a:hover::before{
    top: 125px;
    transition: 0.5s ease-in-out;
    background-color: #cfcaca;
}
.introduce a:active::before{
    background-color: #9c9a9c;
    transition: all 0.1s ease;
}
@keyframes wave{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
/* oooooooooooooooooooo */
@media (max-width: 1400px){
    .title{
        font-size: 92px;
    }
    .work .txt{
        width: 80%;
        flex-direction: column;
    }
    .work .txt h3{
        width: 100%;
        font-size: 18px;
    }
    .work .txt p{
        width: 100%;
        font-size: 14px;
    }
    .work_bg{
        height: 65vh;}
    .introduce{
        height: 35vh;
    }
}

@media (max-width: 1200px){
    .title{
        font-size: 90px;
    }

    .work .txt h3{
        font-size: 20px;
    }
    .work .txt p{
        font-size: 15px;
        
    }
    .work_bg{
        height: 70vh;
    }
    .introduce{
        height: 30vh;
}
}
/* 1100以下無視差效果 */
 @media (max-width: 1100px){
    .title{
        width: 100%;
        font-size: 90px;
        margin: auto;
        mix-blend-mode: luminosity;
    }
    .work .txt h3{
        font-size: 15px;
    }
    .work .txt p{
        font-size: 13px;
    }
    .work_bg{
        height: 100vh;}
    .introduce{
        height: 100vh;
    }
}

@media (max-width: 913px){
    .title{
        font-size: 65px;
        letter-spacing: 10px;
    }
    .work .txt h3{
        font-size: 16px;
    }
    .work .txt p{
        font-size: 14px;
    }
    .work_bg{
        height: 60vh;
        background-size:850px 500px; 
    }
    .introduce{
        height: 40vh;
    }
}
@media (max-width: 740px){
    .title{
        font-size: 55px;
        /* position: absolute;
        bottom: 5%;
        left: 6%; */

    }
    .work_bg{
        height: 100vh;
        position: relative;
    }
    .introduce{
        height: 100vh;
    }
}

 @media (max-width: 600px){
    .work_bg{
        height: 60vh;
        background-size:576px 350px; 
    }
    .introduce{
        height: 40vh;
    }
    .title{
        font-size: 85px;
        position: absolute;
        bottom: 5%;
        left: 5%;
    }
    .work .txt h3{
        font-size: 18px;
    }
    .work .txt p{
        font-size: 14px;
    }
}
@media (max-width: 450px){
    .title{
        font-size: 70px;
        left:5%;
        letter-spacing: 6px;
    }
    .business{
        font-size: 65px;

    }
    .work_bg{
        background-size:560px 340px; 
    }
    .work .txt h3{
        margin-bottom: 5px;
        font-weight: 600;
    }
    .work .txt p{
        line-height: 25px;
        font-size: 12px;
    }
    .introduce a{
        width: 150px;
        height: 40px;
    }
    .introduce a p{
        font-size: 17px;
    }
    .introduce a::before{
        content: '';
        position: absolute;
        left: 70px;
        width: 290px;
        height: 290px;
    }
    
}
@media (max-width: 350px){
    .title{
        font-size:55px;
    }
    .business{
        font-size: 50px;

    }

}




