.navbar{
    z-index: 5;
}

.bg-color{
    background-color: #4e4e2b;
    /* opacity: 0.8; */
}
.navbar-brand{
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-outline-success{
    background-color: #50504d;
    color: azure;
    border: 1px;
    height: 35px;
}
.btn-outline-success:hover{
    background-color: #aeae45;
}
.navbar{
    height: 65px;
}
.breadcrumb-item a{
    text-decoration: none;
    color: rgb(150, 161, 147);
}
.breadcrumb-item a:hover{
    color: rgb(72, 93, 39);
    text-decoration-line: underline;
}
.list-group-item.active{
    background-color: #8a8d56;
}
.btn-primary{
    border: 0px;
    background-color: #8a8d56;
    transition: all 0.3s 0s ease-in;
}
.btn-primary:hover{
    background-color: #54544a;
    color: aliceblue;
    height: 100%;
}
.card h6{
    font-size: 14px;
    color: darkgrey;
}
.card a{
    text-decoration: none;
    color: #929269;
    font-weight: bold;
}
.card a:hover{
    color: #6a392f;
}
.page-item a{
    color: #494946;
}
.list-group-item:hover{
    background-color: #f0f1ec;
}
.banner{
    position: relative;
    width: 100%;
    z-index: -1;
}
.banner-name{
position: absolute;
bottom: 60px;
left: 40px;
}
.banner-name h2{
font-size: 20px;
color: aliceblue;
position: absolute;
bottom: -20px;
left: 40px;
}

.card-hot{
    position: relative;
}
.hot{
font-size: 13px;
font-weight: bold;
position: absolute;
right: 0px;
top: 10px;
background-color: #ea582c;
color: #f0f1ec;
padding: 5px;
}

/* --------------------------------------------------------- */
@media screen and (max-width: 700px){
    .banner{
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .banner-name{
        position: absolute;
        bottom: 5px;
        left: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        transform: scale(0.8);
    }
    .banner-name h2{
        opacity: 0;
}
.carousel-indicators{
    opacity: 0;

}
}
/* --------------------------------------------------------- */
    
@media screen and (max-width: 768px){
    .nav-link{
    background-color: #676565;
    color: #d8d8d3;
    padding-left: 10px;
    border: #8b8b8a solid 0.3px;
}
.nav-link:hover{
    background-color: #878585;

}
}