*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden; 
}

body{
    background-color: #ebe7e0;
}
body .pic2{
    position: absolute;
    right: 0px;
    bottom: -50%;
    opacity: 0.5;
}
body .pic3{
    transform: scale(1.3);
    position: absolute;
    left:15px;
    bottom: -120%;
    opacity: 0.5;
}

@media (max-width: 768px){
    body .pic3{
        display:none;
    }
    body .pic2{
        display:none;
    }
}
.header .pic img{
    display: block;
    width: 115px;
    margin: auto;
    margin-top: -10px;

}

.header{
    background-color: #a92626;
    padding: 18px 10px;
    height: 65PX;
    z-index: 10;
}

.fa-basket-shopping{
    transform: scale(1.5);
    position: absolute;
    right: 35px;top: 38px;
    color: #ffffff;
    cursor: pointer;
    
}
.fa-house-chimney{
    transform: scale(1.5);
    position: absolute;
    left: 40px;top: 35px;
    color: #ffffff;

}
.fa-house-chimney::after{
    content: 'H O M E';
    font-size: 10px;
    color: #a92626;
    opacity: 0;
    transition: all 0.3s ease-in;
    width: 100%;
    height: 100%;
    position: relative;
    left: -40px;
    z-index: -1;

}
.fa-house-chimney:hover{
    color: #f1f42d;
}
.fa-house-chimney:hover::after{
    color: #f1f42d;
    left: 10px;
    opacity: 1;

}
.shopcar{
    transition: 0.6s ease-in;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    display: block;
    background-color: #441010;
    opacity: 0.8;
    width: 80%;
    height: 100vh;
    margin-top: 79px;
    /* margin-left: 95px; */
}

.quantity{
    background: rgb(241, 209, 4);
    border-radius: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4d4b4b;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px 10px;
}

.banner2{
    max-width: 1200px;
    width: 100%;

}

.banner2 img{
    width: 100%;
    height: 50%vh;
    margin-top: 70px;
}

@media (max-width: 1100px){
    .banner2 {
        display: contents;
    }
    .fa-house-chimney:hover{
        color: #ffffff;
    }
    .fa-house-chimney:hover::after{
        color: #f1f42d;
        left: 10px;
        opacity: 0;
    
    }
}


#menu-toggler:checked ~ .shopcar{ 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 1);
}


.breadcrumb{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 10%;

}
.breadcrumb a{
    text-decoration: none;
    color: #6a1313;
}


/* menu--------------------------------------------- */

.menulist{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #47abd2; */
    position: relative;
    

}

.menulist .itemBox{
    /* background-color: #fff; */
    border-bottom: #441010 dotted 4px;
    height: 350px;
    width: 200px;
    margin: 30px 20px;
    position: relative;
}

.menulist .txt{
padding-left: 20px;
cursor: default; 
}
.menulist .txt h1{
    position: absolute;
    bottom:15px;
    color: #a71d1d;
    font-weight: bold;
}
.menulist .txt h2{
    color: #441010;
    margin-top: 5px;
    font-weight: bold;
}

.menulist .pic img{
    width: 98%;
    margin:0px 5px;
    filter: drop-shadow( -7px 6px 1px rgb(58, 54, 46,0.5));
}

.menulist button{
    background-color:  #c9c2a9;
    border-radius: 50% 50% 50% 50%;
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 20px;

}
.menulist button:active{
    background-color:  #a45218;
    transition: 0.1s ease ; 
    transform: scale(1.2);
}
.fa-plus{
    color: #ffffff;
}
@media (min-width: 1100px){
    .menulist{
        padding: 0 100px;
    }


    .menulist .itemBox:hover{
        transition: 0.3s ease-in-out ; 
        background-color: #e5dfd6;
        border-radius: 20px;
        padding: 10px;
        border: none;
        box-shadow:0px 5px 20px rgba(252, 252, 252, 0.8);

    }
    .menulist button:hover{
        background-color:  #dc9f43;
    }
    .menulist button:active{
        background-color:  #a45218;
    }
}

/* - */

@media (max-width: 1100px){
    /* 平板橫 */

    .menulist .itemBox{
        height: 300px;
        width: 155px;
        margin: 30px 20px;
        position: relative;
    }
    .menulist button{
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 18px;
        right: 3px;
    }
}
/* - */

@media (max-width: 769px){
    /* 平板直 */

    .menulist .itemBox{
        height: 270px;
        width: 145px;
        margin: 30px 15px;
        position: relative;
    }
    .menulist button{
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 18px;
        right: 2px;
    }
    .menulist .txt{
        padding-left: 20px;
        margin-top: 15px;
        }
    .menulist .txt h1{
        position: absolute;
        bottom:10px;
    }
    .menulist .txt h2{
        font-size: 16px;
    }
}
/* - */

@media (max-width: 600px){
    /* 手機橫下 */

    .menulist .itemBox{
        height: 270px;
        width: 150px;
        margin: 30px 5px;
        position: relative;
    }
    .menulist button{
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 10px;
        right: 0px;
    }
}


/* 購物車------------------------------------------ */

.car{
    
    position: fixed;
    top:0;
    left: 110%;
    width: 550px;
    z-index: 5;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s ease;
    box-shadow:-10px 0px 10px rgba(0,0,0,0.5);
}
.buy .car{
    transform: translateX(-120%);
}

.car .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;

}
.car h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 20px;
    margin-top: 100px;
}
.content{
    transition: 0.3s ease-in-out;
}
.buy .content{
    transform: translateX(-200px);
    
}


.checkOut{
    display: flex;
    margin-bottom: 7%;
    margin-left: 20%;
}
.total{
    font-size: 20px;
    background-color: #f3ca9b;
    border-radius: 15px;
    text-align: center;
    width: 25%;
    margin-right: 7%;
    cursor: auto;
}
.closeShopping{

    font-size: 20px;
    background-color: #f4972d;
    border-radius: 15px;
    text-align: center;
    margin-left: 2%;
    width: 25%;
    cursor: pointer;
    
}

.closeShopping:hover{
    background-color: #c6781e;
    transition: 0.3s ease-in-out;

}
.listCar{
    scroll-behavior: smooth;
    overflow: auto;
    height: 550px;
}
.listCar li{
    width: 95%;
    display: grid;
    grid-template-columns: 130px repeat(3, 1fr);
    row-gap: 50px;
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 15px;
    margin-right: 15px;
    padding-right: 15px;
    /* margin-left: -5px; */
    background-color:  rgba(224, 167, 127, 0.333);
    border-radius: 10px;
}
.listCar div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCar li img{
    width: 90%;
}
.listCar li button{
    width: 20px;
    margin: 0 7px;
    background-color: rgba(255, 241, 241, 0.333);
    border: none;
}
.listCard .count{
    margin: 0 10px;
}
.listCar li button:active{
    background-color: rgba(255, 255, 255, 0.7);

}

.cartxt{
    color: #c9c2a9;
    display: flex;
    position: absolute;
    top: -40px;
    left: -5%;
}
.cartxt h3{
    margin: 10px 70px;

}


/* - */
@media (min-width: 1300px){
    .car{
        width: 500px;
    }
    .buy .car{
        transform: translateX(-620px);
    }
    .cartxt{
        left: -5%;
    }
    .cartxt h3{
        margin: 10px 65px;
    
    }
}
/* - */

@media (max-width: 1100px){
/* 平板橫 */
    .car{
        width: 600px;
    }
    .buy .car{
        transform: translateX(-690px);
    }
    .cartxt{
        left: -4%;
    }
    .cartxt h3{
        margin: 10px 80px;
    
    }
    }
/* - */

@media (max-width:769px){
/* 平板直 */
    .car{
        width: 500px;
    }
    .buy .car{
        transform: translateX(-570px);
    }
    .cartxt{
        left: -5%;
    }
    .cartxt h3{
        margin: 10px 65px;
    
    }
}

/* - */

@media (max-width: 600px){
/* 手機橫 */

    .car{
        width: 400px;
    }
    .buy .car{
        transform: translateX(-430px);
    }
    .listCar li img{
        width: 75%;
    }
    .listCar li{
        width: 90%;
        font-size: 13px;
        margin-right: 5%;
        margin-left: 2%;
        padding:5% 3% 5% -5% ;

    }
    .cartxt{
        left: -5%;
    }
    .cartxt h3{
        margin: 10px 50px;
    
    }
}




/* 頁尾 -------------------------------------------------- */


.footer{
    font-weight: bolder;
    font-size: 13px;
    margin: auto;
    width:100%;
    background-image: url(./img/footer.png);
    line-height: 50px;
    height: 100%;
    margin-top: 10%;
}
.ft p{
    width: 320px;
    margin: auto;
}

    .container-fluid{
        overflow: hidden;
    }
    .container{
        overflow: hidden;
    }

